
@{
    ViewBag.Title = "Post Board";
}

<h2>@ViewData["DB接続不可"]</h2>



<h1 style="text-align:center; margin: 90px 0 0 0">掲示板</h1>

<link rel="stylesheet" type="text/css" href="~/Content/Css/Board_Index.css">
<script src="~/Content/JavaScript/Board_Index.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>



    <h3 id="message" />
    <div class="inputDivStyle">
        <input id="searchId" type="text" class="searchText" placeholder="ID" />
        <input id="searchwriter" type="text" class="searchText" placeholder="作者" />
        <input id="searchtitle" type="text" class="searchText" placeholder="タイトル" />
        <input id="searchFromDate" type="date" class="searchText" /> ～
        <input id="searchToDate" type="date" class="searchText" />
        <input type="button" class="searchButton" onclick="searchJson2()" value="検索">
    </div>
    <label class="open" for="pop-up">テキスト登録</label>

    <form class="formstyle" id="search_form">
        <table id="boardTable" class="boardTableStyle">
            <thead>
                <tr>
                    <th class="thId">
                        ID
                        <input id="itemId" @*class="selectBox"*@ type="text" name="_id" />
                    </th>
                    <th class="thWriter">
                        WRITER
                        <input id="itemWriter" @*class="selectBox"*@ type="text"/>
                    </th>
                    <th class="thTitle">
                        TITLE
                        <input id="itemTitle" @*class="selectBox"*@ type="text"/>
                    </th>
                    <th class="thDate">
                        UPDATE
                        <input id="itemDate" @*class="selectBox"*@ type="text"/>
                    </th>
                    <th class="thDelete">
                        <button id="button" onclick="allDeleteJson();">全削除</button>
                    </th>
                </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </form>

<div class="containerStyle" onclick="pagint()">
    <div>
        <span id="js-pagination-result-total"></span>件中
        <span id="js-pagination-result-range-text"></span>
    </div>
    <div>
        <button id="js-button-prev" class="pagingButton">
            前へ
        </button>
        <button id="js-button-next" class="pagingButton">
            次へ
        </button>
    </div>
    <div>
        <nav id="js-pagination-result-range" class="navStyle"></nav>

        現在のページ : <span id="js-pagination-current"></span>
    </div>
</div>


<input type="checkbox" id="pop-up">
<div class="overlay">
    <div class="window">
        <form class="form-horizontal" method="post" action="https://localhost:44342/Board/Create">
            <label class="close" for="pop-up">×</label>

            <div class="popupDiv">
                <div class="popupDivStyle">
                    <textarea id="createTitle" class="titleinput" placeholder="タイトル"></textarea>

                    <p class="popupWriterValue">作者：</p>
                    <input id="createWriter" type="text" class="popupWriterInput" />
                    <input id="createDate" type="date" class="popupDateInput" />
                </div>

                <textarea id="createText" class="textinput" placeholder="内容を入力してください。"></textarea>

                <div class="popupButtonDiv">
                    <a class="btn btn-warning" href="https://localhost:44342/Board/Create">戻る</a>
                    <input type="button" class="btn btn-primary" onclick="createJson()" value="登録"/>
                </div>
            </div>
        </form>
    </div>
</div>


<input type="checkbox" id="titlePop-up">
<div class="overlay">
    <div class="window">
        <form class="form-horizontal" method="post" action="https://localhost:44342/Board/Create">
            <label class="close" for="pop-up">×</label>

            <div id="textpop-up" class="inputDiv">
            </div>
        </form>
    </div>
</div>