<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestBoard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestBoard.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" asp-append-version="true" />
    <style type="text/css">
        li a {
            display: block;
            color: white;
            padding: 3px 30px;
            text-decoration: none;
        }
        li a.action {
            background-color: #4CAF50;
            color: white;
        }

        li a:hover:not(.action) {
        background-color: #4CAF50;
        color: white;
        }

        .acd-check {
            display: none;
        }

        .acd-label {
            text-align: center;
            font-weight:bold;
            font-size: large;
            background: #4CAF50;
            color: #fff;
            display: block;
            width:300px;
            height: 60px;
            padding: 20px;
        }

        .acd-content {
            border: 1px solid #333;
            width:300px;
            height: auto;
            opacity: 0;
            margin-bottom:10px;
            padding: 5px;
            transition: .5s;
            visibility: hidden;
        }

        .acd-check:checked + .acd-label + .acd-content {
            width: 300px;
            height: auto;
            opacity: 1;
            padding: 5px;
            visibility: visible;
        }

        .box1 {
            grid-row: 1 / 6;
            grid-column: 1;
        }

        .box1 {
            grid-column : 2;
        }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="box">
                <a  class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestBoard</a>
                    <div class="box1">
                            <input id="acd-check1" class="acd-check" type="checkbox">
                            <label class="acd-label" for="acd-check1" text-align:center="center;">Index</label>
                            <div class="acd-content">
                                hello.world!
                            </div>
                    </div>
                    <div class="box1">
                            <input id="acd-check2" class="acd-check" type="checkbox">
                            <label class="acd-label" for="acd-check2">Tawooly</label>
                                <ul class="acd-content" for="acd-check2">
                                    <li text-align:center="left;">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Introduction">소개</a>
                                    </li>
                                    <li text-align:center="left;">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Board">게시판</a>
                                    </li>
                                    <li text-align:center="left;">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Managements" asp-action="Index">사원관리</a>
                                    </li>
                                    <li text-align:center="left;">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ToDoList">ToDoList</a>
                                    </li>
                                </ul>
                    </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TestBoard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
