
@{
    ViewBag.Title = "Login";
}

<h2>@ViewData["DB接続不可"]</h2>

<link rel="stylesheet" type="text/css" href="~/Content/Css/Login_Index.css"/>

<h2 class="titleH2">会員登録</h2>

<form class="form-horizontal" method="post" action="https://localhost:44342/Login/Login">

    <div class="bigBox">
        <div class="box1">
            <div class="box1text">Input your ID</div>
            <div class="box1text">Input your Password</div>
        </div>

        <div class="box2">
            <div class="box2text"><input type="text" class="form-control" name="_loginId" placeholder="IDを入力してください。" /></div>
            <div class="box2text"><input type="text" class="form-control" name="_loginPw" placeholder="パスワードを入力してください。" /></div>
        </div>
    </div>

    <div class="smallBox">
        <div class="box3"><a href="https://localhost:44342/Login/FindInputId">IDを探す</a></div>
        <p class="font-weight800"> / </p>
        <div class="box4"><a href="https://localhost:44342/Login/FindInputPw">パスワード探す</a></div>
    </div>

    <div class="form-group">
        <a class="btn btn-warning" href="https://localhost:44342/">戻る</a>
        <button type="submit" class="btn btn-primary">ログイン</button>
    </div>
</form>