
@{
    ViewBag.Title = "Login";
}
@*ログインK完了画面*@


<H1 style="text-align: center;">@ViewData["ログイン成功"]</H1>
<H1 style="text-align: center;">@ViewData["ログイン失敗"]</H1>

<div class="form-group" style="text-align: center; font-size: 40px;">
    <a class="btn btn-warning" href="https://localhost:44342/">ホーム</a>
</div>