
<H1 style="text-align: center; margin: 300px auto auto auto">もう一度やり直してください。</H1>

<div class="form-group" style="margin:150px; text-align: center; font-size: 40px;">
    <a class="btn btn-warning"  href="https://localhost:44342/">ホーム</a>
</div>